.titleWrapper {
    p {
        text-transform: uppercase;
        font-weight: bold;
        color: #df6951;
    }
    h1 {
        color: #181e4b;
        margin-bottom: 30px;
        font-size: 40px;
        span {
            color: #df6951;
        }
    }
}
