.gallery {
    padding: 30px 80px;
    height: 100vh;
    @media screen and (max-width: 1280px) {
        height: auto;
    }
    @media screen and (max-width: 735px) {
        padding: 30px;
    }
    .gallery__cards {
        .card__wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            position: relative;
            .gallery__card {
                width: 210px;
                height: 210px;
                border-radius: 20px;
                position: relative;
                @media screen and (max-width: 1280px) {
                    width: 200px;
                    height: 200px;
                }
                @media screen and (max-width: 735px) {
                    width: 170px;
                    height: 170px;
                }
                .card__bg {
                    border-radius: 20px;
                    width: 100%;
                    height: 100%;
                    cursor: pointer;
                    transition: all 0.3s ease-in-out;
                    &:hover {
                        filter: brightness(0.4);
                    }
                }
                .card__icon {
                    visibility: hidden;
                    position: absolute;
                    top: 40%;
                    left: 40%;
                    font-size: 40px;
                    color: white;
                    pointer-events: none;
                }
                .card__bg:hover + .card__icon,
                .card__icon:hover {
                    transition: all 0.3s ease-in-out;
                    visibility: visible;
                }
            }
            .card__clicked {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                .card__clicked-wrapper {
                    border-radius: 10px;
                    display: flex;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    padding: 20px;
                    z-index: 2;
                    .text__wrapper {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        button {
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            width: fit-content;
                            border: none;
                            background: transparent;
                            color: var(--orange);
                            font-size: 13px;
                            font-weight: 500;
                            a {
                                color: inherit;
                                text-decoration: none;
                            }
                        }
                    }
                    img {
                        width: 300px;
                        height: 200px;
                        object-fit: cover;
                    }
                }
                .overlay {
                    position: fixed;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.7);
                    z-index: 1;
                }
            }
        }
    }
}
