.title1 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--yellow);
}

.title2 {
    color: #181e4b;
    margin-bottom: 30px;
    font-size: 40px;
    @media screen and (max-width: 1280px) {
        font-size: 30px;
    }
    &::first-letter {
        text-transform: uppercase;
    }
    span {
        color: #df6951;
    }
}
